# Server Configuration
PORT=5000
NODE_ENV=development

# Path to Firebase Admin SDK Private Key JSON file
# Download from Firebase Console -> Project Settings -> Service Accounts -> Generate New Private Key
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
